@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
       At the bookstore we ensure you have what you need to succeed. Packed ceiling to floor with a full range of the most up-to-date course materials and textbooks, our friendly and knowledgeable staff are here to help.
    </p>

    <p>
        As your foundation for learning, we offer a number of products and services including:
    </p>

    <p>
       <ul>
           <li>
               Course Materials
           </li>
           <li>
               Fiction & Non-Fiction
           </li>
           <li>
               Custom Publishing
           </li>
       </ul> 


    </p>
</article>
