@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
        <h3>Phone</h3>
    <p>
        <span class="label">Main:</span>
        <span>(226) 600 6417</span>
    </p>
</section>

<section class="contact">
        <h3>Email</h3>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:jandresval@outlook.com">jandresval@outlook.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:jandresval@outlook.com">jandresval@outlook.com</a></span>
    </p>
</section>

<section class="contact">
        <h3>Address</h3>
    <p>
        10B Cathcart Street<br />
        ON, Guelph.
    </p>
</section>