@{
    ViewBag.Title = "Home Page";
}
@using PagedList;
@using PagedList.Mvc;

@Styles.Render("~/Content/PagedList.css")

<h3>We suggest the following:</h3>

<div id="unobtrusive">
	@Html.Partial("BookListSell")
</div>

<div id="oncomplete"></div>

@section Scripts{
	<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>	
}